@model IEnumerable<UniversityOfRoommates.Models.FotoCasa>

@{
    ViewBag.Title = "Index";
}

<style>

    .someClass {
        color: Green !important;
    }
    
</style>



<div align="center">
    <h2 style="color:#ff6a00">Pannello foto.</h2>
        <h2 style="color:#ff6a00">  @Html.ActionLink("Aggiungi", "Create", new {@style = "font-weight:bold;", @class = "someClass", nomeCasa = ViewBag.nomeCasa, lon = ViewBag.lon, lat = ViewBag.lat })</h2>
    
</div>
<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            <input type="image" src=@item.linkFoto width="150" height="150">
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { nomeCasa = item.nomeCasa, lon = item.longitude, lat = item.latitude, id = item.idFoto }) |
            @Html.ActionLink("Delete", "Delete", new { nomeCasa = item.nomeCasa, lon = item.longitude, lat = item.latitude, id = item.idFoto })
        </td>
    </tr>
}

</table>
