@model IEnumerable<UniversityOfRoommates.Models.FotoCasa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { nomeCasa=ViewBag.nomeCasa, lon=ViewBag.lon , lat = ViewBag.lat })
</p>
<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            <input type="image" src=@item.linkFoto width="150" height="150">
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { nomeCasa = item.nomeCasa, lon = item.longitude, lat = item.latitude, id = item.idFoto }) |
            @Html.ActionLink("Delete", "Delete", new { nomeCasa = item.nomeCasa, lon = item.longitude, lat = item.latitude, id = item.idFoto })
        </td>
    </tr>
}

</table>
