<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1fba51ad-db6e-4132-a02b-99203b043c9c/resourceGroups/ProjectUoR/providers/Microsoft.Web/sites/universityofroommates</ResourceId>
    <ResourceGroup>ProjectUoR</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://universityofroommates.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>universityofroommates.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>universityofroommates</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$universityofroommates</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=uor.database.windows.net;Initial Catalog=UoRDB;Persist Security Info=True;User ID=TAPGroup;Password=ProjectUoR00" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="UniversityOfRoommates.Models.ApplicationDbContext, UniversityOfRoommates" MigrationConfiguration="UniversityOfRoommates.Migrations.Configuration, UniversityOfRoommates" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=uor.database.windows.net;Initial Catalog=UoRDB;Persist Security Info=True;User ID=TAPGroup;Password=ProjectUoR00</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=uor.database.windows.net;Initial Catalog=UoRDB;Persist Security Info=True;User ID=TAPGroup;Password=ProjectUoR00</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=uor.database.windows.net;Initial Catalog=UoRDB;Persist Security Info=True;User ID=TAPGroup;Password=ProjectUoR00</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=uor.database.windows.net;Initial Catalog=UoRDB;Persist Security Info=True;User ID=TAPGroup;Password=ProjectUoR00</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>